*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    
}

section{
    
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/honeybg\ .jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    
        
}


 
.circle{
    position: absolute;
    background-color: #C58F00;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(600px at right 800px);

}

header{
position: absolute;
display: flex;
align-items: center;
justify-content: space-between;
top: 0;
left: 0;
padding: 0 40px;    
width: 100%;
}

.navbar{

 display: flex;
 align-items: center;
 justify-content: center;
}

.navbar img{
    position: relative;
    max-width: 150px;
}

.navbar-brand a{
    color: aliceblue ;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    
}


.nav--items li{
    list-style: none;
    display: inline-block;   
    margin-left: 40px;
    position: relative;  
    padding-bottom: 8px;

}
.nav--items li a {
   
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 2px;

}

.nav--items ::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #EAE600;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.nav--items :hover ::after{
    opacity: 1;
}

content{
position: relative;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}

content .txtBox{
 position: relative;
 max-width: 600px;
 margin-right: 20px;
}

content .txtBox h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 40px;
    line-height: 1.4em;
    font-weight: 700;
}

content .txtBox p { 

    color: #fff;
    font-size: 0.8em;
    letter-spacing: 1.5px;

}


content .txtBox a{
    text-decoration: none;  
    display: inline-block;
    margin-top: 40px;
    background-color:  #EAE600;
    padding: 8px 20px;
    color: #161616;
    font-weight: 700;
    font-size: 1em;
    border-radius: 40px;

}

.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px ;
    padding-left: 50px;
    margin-top: 50px;
}

.imgBox img{
    transform: rotate(-10deg) translateX(-80px);
    max-width: 340px;
    
}

.thumb {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

}

.thumb li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    
}

.thumb li:hover{
    transform: translateX(-10px);}

.thumb li img{
    max-width: 40px;
    background-color: #222;
    width: 50px;
    height: 50px;
    border-radius: 10%;

}

.socials{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}





.socials li {
    list-style: none;
}

.socials li a{
    display: inline-block;
    margin-left: 15px;
    background-color: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    

}

.socials li a:hover{
    background: #EAE600;
    transform: translateY(-10px);
  
    
}

.socials li a img{
    filter: invert(1);
}   
.socials li a:hover img{
    filter: invert(0);
}

.faq--container{
   background: #161616;
   width: 100%;
   
   padding: 4em 2em;

}

.faq--container h2{
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
    color: #fff;
    letter-spacing: 2px;   
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #C58F00;
}


.accordion{
  background-color: aqua;
  width: fit-content;
  height: fit-content;
  margin-left: 26em;
  margin-top: 2em;
  
}

.faq{
    
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
    
}



.faq li{
    background-color: #f2f2f2;
    border-bottom:  1px solid #ccc;
}

.faq li:first-child{
    border-top: 1px solid #ccc;
}

.q{
    cursor: pointer;
    padding: 1em 0; 
    border-left: 10px solid #f2f2f2;
}
.q:hover, .q:hover .arrow{
    border-left-color: #EAE600; ;
}

.arrow{
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0.5em;
    border-top: 5px solid transparent;
    border-left: 10px solid #555;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
    
}

.faq p{
line-height: 25px;
color: #161616;
}

.a{
  overflow: hidden;
  height: 0;
  padding: 0 1em 0 3.3em;
}

.a-opened{
    padding: 1em 1em 2em 3.3em ;
  height: initial;
}

.arrow-rotated{
    transform: rotate(90deg);
}
